<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="despacho.css">
</head>
<body>
    <header>
        <div id="arriba">
            <img src="img/icons8_wedding_travel_50px.png" alt="">
            <nav>
                <a href="crudperfil.html">usuarios</a>
                <a href="crudprod.html">Productos</a>
                <a href="">seguridad</a>
                <a href="">ajustes</a>
                <a href="historial.html">historial</a>
                <a href="">seguimiento de despacho</a>
                <a href="">actualizaciones</a>
                <a href=""></a>
                <a href="index.html">volver</a>
            </nav>
        </div>
    </header>
    <div id="inferior">
        <H1>SEGUIMIENTO DE DESPACHO</H1>
    </div>
    <article class="divi">
        <h1>estado de la orden numero</h1>
        <h2>**************</h2>
        <div id="lineal"></div>
        <div id="ima">
          <img src="img/icons8-money-bag-64.png" alt="" width="50" height="50">
          <h1>solicitud ingresada</h1>
          <img src="img/icons8-shipping-centre-loading-belt-50.png" alt="" width="50" height="50">
          <h2>preparando producto</h2>
          <img src="img/icons8-tow-truck-with-trailers-50.png" alt="" width="50" height="50">
          <h3>en ruta</h3>
          <img src="img/icons8-country-house-50.png" alt="" width="50" height="50">
          <h4>entrega exitosa</h4>
        </div>
    </article>
    <article class="divisor">
        <div id="linea"></div>
    </article>
    <article id="envio">
        <div class="asegur">
            <h1>¡Hemos finalizado tu entrega! tu entrega sera habilitada en un plazo de 72 horas</h1>
        </div>
</body>
</html>