<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="historial.css">
    <script src="funciones.js"></script>
</head>
<body>
    <header>
        <div id="arribota">
            <img src="img/descarga.png" alt="">
            <nav>
                <a href="crudperfil.html">usuarios</a>
                <a href="crudprod.html">Productos</a>
                <a href="">seguridad</a>
                <a href="">ajustes</a>
                <a href="historial.html">historial</a>
                <a href="despacho.html">seguimiento de despacho</a>
                <a href="">actualizaciones</a>
                <a href=""></a>
                <a href="index.html">volver</a>
            </nav>
        </div>
        <h1>Total de dinero gastado:$11.751.870</h1>
        <table>
            <thead>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Fecha de compra</th>
                <th>vencimiento</th>
            </thead>
            <tbody>
                <tr>
                 <td>30</td>
                 <td>Saco Master dog (grande)</td>
                 <td>7/6/2023</td>
                 <td>18/6/2023</td> 
                </tr>
                <tr>
                 <td>10</td>
                 <td>Correa retractil</td>
                 <td>3/6/2023</td>
                 <td>10/3/2023</td> 
                </tr>
                <tr>
                    <td>200</td>
                    <td>Conjunto de juguetes gatos</td>
                    <td>28/5/2023</td>
                    <td>4/6/2023</td> 
                   </tr>
                   <tr>
                    <td>150</td>
                    <td>Casa para perros</td>
                    <td>21/5/2023</td>
                    <td>27/5/2023</td> 
                   </tr>
                   <tr>
                    <td>170</td>
                    <td>Casa gatos</td>
                    <td>15/5/2023</td>
                    <td>20/5/2023</td> 
                   </tr>
                   <tr>
                    <td>190</td>
                    <td>Alimentos master cat (grande)</td>
                    <td>10/5/2023</td>
                    <td>15/5/2023</td> 
                   </tr>
                   <tr>
                    <td>50</td>
                    <td>Saco master dog (grande)</td>
                    <td>10/5/2023</td>
                    <td>15/5/2023</td> 
                   </tr>
                   <tr>
                    <td>50</td>
                    <td>Saco master dog (grande)</td>
                    <td>10/5/2023</td>
                    <td>15/5/2023</td> 
                   </tr>
                   <tr>
                    <td>190</td>
                    <td>Saco master cat (grande)</td>
                    <td>10/5/2023</td>
                    <td>15/5/2023</td> 
                   </tr>
                   <tr>
                    <td>170</td>
                    <td>Casa para gatos</td>
                    <td>1/5/2023</td>
                    <td>6/5/2023</td> 
                   </tr>
                   <tr>
                    <td>150</td>
                    <td>Casa para perros</td>
                    <td>1/5/2023</td>
                    <td>6/5/2023</td> 
                   </tr>
                   <tr>
                    <td>150</td>
                    <td>Casa para perros</td>
                    <td>1/5/2023</td>
                    <td>6/5/2023</td> 
                   </tr>
                   <tr>
                    <td>120</td>
                    <td>Plato de comida y agua (metal)</td>
                    <td>26/4/2023</td>
                    <td>2/5/2023</td> 
                   </tr>
                   <tr>
                    <td>20</td>
                    <td>Correa retractil (grande)</td>
                    <td>20/4/2023</td>
                    <td>30/4/2023</td> 
                   </tr>
                   <tr>
                    <td>130</td>
                    <td>Juguete hueso</td>
                    <td>14/4/2023</td>
                    <td>25/4/2023</td> 
                   </tr>
                   <tr>
                    <td>140</td>
                    <td>Juguete chillon</td>
                    <td>14/4/2023</td>
                    <td>25/4/2023</td> 
                   </tr>
                   <tr>
                    <td>70</td>
                    <td>Ropa invierno</td>
                    <td>4/4/2023</td>
                    <td>10/4/2023</td> 
                   </tr>
                   <tr>
                    <td>60</td>
                    <td>Ropa minion</td>
                    <td>15/1/2023</td>
                    <td>25/1/2023</td> 
                   </tr>
            </tbody>
        </table>
        <p><a href="#">Ver anteriores compras</a></p>
        <div id="opc">
         <p>Agregar</p>
         <p>Eliminar</p>
         <p>Reenbolsar</p>
        </div>
        <div id="but">
            <button id="correct"><img src="img/icons8_Checkmark_512px_1.png" alt=""></button>
            <button id="elim"><img src="img/icons8_close_512px_1.png" alt=""></button>
            <button id="edit"><img src="img/refound.png" alt=""></button>
        </div>
        
    </header>
</body>
</html>